.hidden {
    visibility: hidden;
}
.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.color-line {
    width: 100%;
    height: 3px;
    background-color: #AE3852;
}

p {
    font-family: Ubuntu;
    font-size: 0.87rem;
    letter-spacing: 0.01rem;
    line-height: 1.5rem;
    color: #5F5C5D;
}

b {
    font-family: Ubuntu;
    font-weight: 700;
}

h2, h3 {
    font-family: Ubuntu;
    font-weight: 700;
    text-transform: uppercase;
    color: #555555;
}

h1 {
    font-family: Ubuntu;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    font-size: 3.2rem;
    letter-spacing: 0.4rem;
}

h2 {
    font-size: 1.25rem;
    letter-spacing: 0.15rem;
}
.header-menu {
    z-index: 999999;
    position: absolute;
    width: 50%;
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.top-link {
    padding: 37px 0 0 0;
}
.header-menu a {
    color: white;
    font-family: Ubuntu;
    font-weight: 500;
    letter-spacing: 0.05rem;
    font-size: 0.74rem;
}
.main-title {
    z-index: 999999;
    position: absolute;
    width: 60%;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.main-title p {
    color: white;
    padding-top: 40px;
    font-size: 0.98rem;
}
.carousel-indicators li {
    width: 14px;
    height: 14px;
    margin: 6px;
}
.carousel-indicators .active {
    width: 14px;
    height: 14px;
    margin: 6px;
    background-color: #AE3852;
    border-color: #AE3852;
}
/************************* about us ************************/
.photo-container {
    padding: 80px 110px 50px 0;
}
.photo-container h3 {
    padding: 15px 0 8px 0;
    font-size: 0.9rem;
}
.about-container {
    padding: 56px 100px 50px 10px;
}
.about-container h2 {
    padding-bottom: 20px;
}
.about-container p {
    padding: 10px 0;
}
/************************* our works ************************/
.our-works-container {
    padding-bottom: 60px;
    background-color: #262223;
}
.our-works-container h2 {
    padding: 30px 0;
    color: #E4E3E3;
}
.gallery-container {
    overflow: hidden;
    display: inline-flex;
    flex-wrap: wrap;
}
.gallery-img-col {
    padding: 0;
    overflow: hidden;
}
.gallery-img-col img {
    -webkit-transition: blur 0.2s;
    -moz-transition: blur 0.2s;
    -o-transition: blur 0.2s;
    -ms-transition: blur 0.2s;
        transition: blur 0.2s;
}

.gallery-img-col:hover > img {
    -webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}

.gallery-img-col:hover > .details-overlay {
    opacity: 1.0;
}

.details-overlay {
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999999;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.details-overlay h3 {
    padding-top: 40%;
    color: white;
    text-transform: none;
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
}
.details-overlay button {
    margin: 20px 0;
    padding: 6px 30px;
    font-family: Ubuntu;
    font-size: 0.9rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    pointer-events: auto;
}
.details-overlay button:hover,  .details-overlay button:focus{
    color: white;
}
.arrow-up {
    position:absolute;
    width: 0; 
    height: 0; 
    left: 50%;
    bottom: -5px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #262223;
}
.line-divider {
    border-right: 1px solid white;
}
.height-adjust {
    padding-right: 4px;
}
.img-scale-up {
    width: 100%;
}
/************************* our-works - details ************************/
.details-container {
    order: 99;
    width: 100%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: relative;
    padding: 0 80px 0 80px;

-webkit-transition: all .3s;
-moz-transition: all .3s;
-o-transition: all .3s;
-ms-transition: all .3s;
transition: all .3s;
}
span.project-details {
    position: relative;
    top: -3px;
    /*margin-left: 15px;*/
    background-color: #AE3852;
    color: white;
    font-family: Ubuntu;
    font-size: 0.7rem;
    padding: 4px 10px;
    border-radius: 4px;
    text-transform: none;
    letter-spacing: 0.05rem;
}
    
.details-container h2 {
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    padding-top: 30px;
    padding-bottom: 10px;
}
.details-container p {
    color: #BBBBBB;
    font-size: 0.86rem;
    letter-spacing: 0rem;
    line-height: 1.4rem;
}
span.close-details {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 1.6rem;
    color: #E4E3E3;
    cursor: pointer;
}
.tab-pane-text {
    width: 60%;
}
.tab-pane-pics {
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 20px;
}
.tab-pane-pics > div:first-child {
    margin-left: 0;
}
.nav li:first-child {
    margin-left: 0;
}
.nav-pills {
    padding-bottom: 10px;
}
.nav-pills>li {
    margin: 0 20px;
    padding: 10px 0;
    font-family: Ubuntu;
    text-transform: uppercase;
    font-size: 0.78rem;
    letter-spacing: 0.04rem;
}
.nav-pills>li>a {
    border-radius: 0;
    padding: 0 0 5px 0;
}
.nav-pills>li>a, .nav-pills>li>a:focus, .nav-pills>li>a:hover {
    background-color: transparent;
    color: #BBBBBB;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
}
/************************* our services ************************/
.our-services-container {
    position: relative;
    height: 490px;
    top: 0;
    left: 0;
}
.service-top-container p {
    font-size: 0.95rem;
    color: #444444;
}
.img-icon {
    position: absolute;
    top: -45px;
    left: calc(50% - 45px);
}
.service-top-container {
    position: absolute;
    top: 0;
    height: 50%;
}
.service-top-container h2 {
    padding: 60px 0 20px 0;
}
.service-bottom-container {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    padding: 0 60px;
    background-color: #F6F6F6;
}
.service-bottom-container p {
    position: absolute;
    top: 60px;
    padding: 0 15px;
    color: #666666;
}
/************************* let's hear you ************************/
.feedback-container {
    background-color: #AE3852;
}
.feedback-container h2, .feedback-container p {
    color: white;
}
.container-inner {
    width: 50%;
    display: inline-block;
    padding-bottom: 10px;
}
.container-inner-narrow {
    width: 36%;
}
.container-inner-wide {
    width: 70%;
}
.feedback-container h2 {
    padding: 40px 0 20px 0;
}
.feedback-container button {
    margin: 20px 0 40px 0;
    padding: 8px 30px;
    font-family: Ubuntu;
    font-size: 0.95rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.feedback-container button:hover, .feedback-container button:focus {
    color: white;
}
/************************* testimonials ************************/
.testimonials-container {
    padding-bottom: 10px;
}
.testimonials-container h2 {
    padding-bottom: 20px;
    color: #AE3852;
}
.testimonials-container p {
    padding-bottom: 20px;
}
.testimonials-container img {
    padding: 40px 0 30px 0;
}
.testimonials-container b {
    font-size: 0.95rem;
    color: #555555;
}
/************************* contact us ************************/
.contacts-container {
    background-color: #F6F6F6;
}
.contacts-container h2 {
    padding: 35px 0 25px 0;
}
.contact-column {
    padding: 20px 15px 40px 15px;
}
.contact-column p {
    padding-top: 15px;
}
/************************* footer ************************/
.footer-info img {
    padding: 30px 0;
}
.footer-info small {
    font-size: 0.7rem;
}
.social-container img {
    padding: 20px 10px 60px 10px;
}
/************************* modal popup ************************/
.modal-content {
    border-radius: 4px;
}
.modal-header {
    border-bottom: none;
}
.modal-header  button.close{
    margin-top: -6px;
    margin-right: -6px;
    /*color: #333333;*/
}
.modal-body p {
    padding-top: 10px;
}
.modal-body form input {
    width: 100%;
    height: 42px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}
.modal-body form textarea {
    border-color: #CCCCCC;
    width: 100%;
    resize: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}
.modal-body div.upload-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    border: 2px dashed #CCCCCC;
}

.modal-body button.btn-send {
    margin: 15px 0;
    background-color: #AE3852;
    color: white;
    font-family: Ubuntu;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
}
